<div class="mt-16">
    <div class="w-full bg-default flex items-center justify-center py-16 -mt-1 bg-default-red">
        <span class="text-white text-3xl sm:text-6xl font-bold">NOT FOUND</span>
    </div>
</div>

<div class="w-full flex align-middle justify-center text-center">
    <button mat-raised-button color="primary" class="mt-5 justify-center align-middle flex text-center bg-default-red"
        (click)="goToOrganizations()">Go back to
        organizations
        page</button>
</div>