<div class="mt-16">
    <div class="w-full bg-default flex items-center justify-center py-16 -mt-1 bg-default-red">
        <span class="text-white text-3xl sm:text-6xl font-bold">ORGANIZATION</span>
    </div>

    <div class="w-full flex justify-center mt-6" *ngIf="org" [formGroup]="form">
        <div class="w-full lg:w-2/3 dim-gray-border bg-for-white-text">
            <div class="flex items-center w-full px-3 pt-3">
                <mat-form-field class="mt-3 w-full text-4xl">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput value="{{org.title}}">
                </mat-form-field>
            </div>

            <mat-form-field class="mt-3 w-full text-white px-3">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" value="{{org.description}}"></textarea>
            </mat-form-field>

            <div class="mt-2 w-full dim-gray-border"></div>

            <div class="flex justify-center align-middle w-full">
                <button mat-raised-button color="primary" class="w-full m-2 bg-default-red"
                    (click)="confirm()">Confirm</button>
                <button *ngIf="_forEdit" mat-raised-button color="accent" class="w-full m-2"
                    [routerLink]="['/organizations', org.id]">Cancel</button>
                <button *ngIf="!_forEdit" mat-raised-button color="accent" class="w-full m-2"
                    [routerLink]="'/organizations'">Cancel</button>
            </div>
        </div>
    </div>
</div>